html, body, svg {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*svg:not(:root){display:inline-block;}*/

#container {
    display: block;
}

@media only screen and (orientation: portrait) {

    #container {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        height: 200vw;
        align-content: center;
    }
}

@media only screen and (orientation: landscape) {

    #container {
        width: 100vw;
        height: 100vh;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}